
.spinner {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    .loading-info {
        text-align: center;
        margin-top: 8px;
    }
}

.c-wrapper {
    display: block;
    padding: 40px 50px;
    .page-header {
        margin-top: -20px;
        .page-info {
            display: flex;
            column-gap: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            margin-bottom: 10px;
            align-items: center;
            .page-info--url {
                text-decoration: none;
            }
            .page-info--name {
                margin: 0;
            }
            .page-info--icon {
                width: 24px;
                height: 24px;
                padding-top: 2px;
                margin-left: -15px;
            }
        }
    }
    
    .keyword-table {
        width: 100%;
        margin-bottom: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        tr {
            height: 28px;
        }
        tr td, th{
            padding: 2px 20px;
        }   
        td:hover {
            cursor: pointer;
        }
        td:not(:first-child), th:not(:first-child) {
            border-left: 1px solid rgb(213, 213, 213);;
        }
        .keyword-table--header {
            border-radius: 50%;
            background-color: gray;
            color: white;
        }
    }
    
}

.blur {
    filter: blur(5px);
}

.keywords-range {
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(213, 213, 213);
    background-color: white;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    column-gap: 30px;   
    button, ul, li {
        height: 100%;
    }
    .count-form {
        #demo-simple-select {
            padding: 5px 30px 5px 8px;
        }
    }
}   
